.group_2{
    color: aliceblue;
}

@keyframes test {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

div:hover > .my-10.hover\:\[\>div\]\:color-\[\#fff\]{
    color: green !important;
}