.group_2{
    color: aliceblue;
}

@keyframes test {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

div:hover > .my-10.hover\:\[div\ >\]\:color-\[\#fff\]{
    color: green !important;
}

.group:hover {
    [style-group="hover:[.group]:(color-[#f4f4f4] fw-600 fs-40)"]{
        color: #f4f4f4;
        font-weight: 600;
        font-size: 40;
    }
}