.test{
    font-size: 69px;
}

.bog{
    font-family: 'Courier New', Courier, monospace;
}

.bog-2{
    font-weight: 400;
}.fs-42 {
  font-size: 42px;
}.fw-600 {
  font-weight: 600;
}.text-center {
  text-align: center;
}.user-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}.brd-radius-6 {
  border-radius: 6px;
}.z-300 {
  z-index: 300;
}.bg-0 {
  background-size: 0%;
}.fw-300 {
  font-weight: 300;
}.white-space-normal {
  white-space: normal;
}.brd-width-4 {
  border-width: 4px;
}.flex {
  display: flex;
}.absolute {
  position: absolute;
}.hidden {
  visibility: hidden;
}