/*************************** Variables ***************************/
/*************************** Imports ***************************/
.bg-0 {
  background-size: 0%;
}

.bg-2 {
  background-size: 2%;
}

.bg-3 {
  background-size: 3%;
}

.bg-4 {
  background-size: 4%;
}


.brd-width-4 {
  border-width: 4px;
}


.brd-radius-6 {
  border-radius: 6px;
}


.brd-radius-8 {
  border-radius: 8px;
}


.flex {
  display: flex;
}

.flex-col, .flx-col {
  display: flex;
  flex-direction: column;
}


.absolute {
  position: absolute;
}


.relative {
  position: relative;
}


.fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}


.fw-300 {
  font-weight: 300;
}


.fw-600 {
  font-weight: 600;
}


.user-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.white-space-normal {
  white-space: normal;
}


.fs-42 {
  font-size: 42px;
}


.z-300 {
  z-index: 300;
}


.z-400 {
  z-index: 400;
}


.z-600 {
  z-index: 600;
}


.hidden {
  visibility: hidden;
}
.bg-\[\#000\] {
	background-color: #000;
}
.color-\[\#fff\] {
	color: #fff;
}
.color-\[\#000\] {
	color: #000;
}
.bg-\[\#c4c4c4\] {
	background-color: #c4c4c4;
}
.color-\[\#f4f4f4\] {
	color: #f4f4f4;
}
.color-\[\#f3f3f3\] {
	color: #f3f3f3;
}
.color-\[\#010101\] {
	color: #010101;
}
.color-\[\#fffff2\] {
	color: #fffff2;
}
.color-\[\#000000\] {
	color: #000000;
}
.color-\[\#fffff3\] {
	color: #fffff3;
}
.bg-\[\#fcfcfd\] {
	background-color: #fcfcfd;
}
.bg-\[\#333\] {
	background-color: #333;
}
.bg-\[\#332\] {
	background-color: #332;
}
.color-\[\#98dc88\] {
	color: #98dc88;
}
.color-\[\#98dc81\] {
	color: #98dc81;
}
.color-\[\#111111\] {
	color: #111111;
}
.color-\[\#313131\] {
	color: #313131;
}
light.light, body.light {
[style-light="color-[#000] fs-14 z-300"] {
color: #000;
font-size: 14px;
z-index: 300;
}
[style-light="color-[#000] fs-19 fw-400"] {
color: #000;
font-size: 19px;
font-weight: 400;
}
[style-light="color-[#000]"] {
color: #000;
}
[style-light="color-[#010101]"] {
color: #010101;
}
[style-light="color-[#313131]"] {
color: #313131;
}
}
dark.light, body.dark {
[style-dark="color-[#fff]"] {
color: #fff;
}
[style-dark="color-[#f3f3f3]"] {
color: #f3f3f3;
}
[style-dark="color-[#111111]"] {
color: #111111;
}
}
.test{
    font-size: 69px;
}

.bog{
    font-family: 'Courier New', Courier, monospace;
}

.bog-2{
    font-weight: 400;
}

[style-dark="color-[#fff] fs-16"]{
    
}