.brd-solid {
  border-style: solid;}
.brd-radius-3 {
  border-radius: 3px;}
.brd-width-4 {
  border-width: 4px;}
.brd-width-6 {
  border-width: 6px;}
.brd-radius-6 {
  border-radius: 6px;}
.brd-radius-8 {
  border-radius: 8px;}
.flex {
  display: flex;}
.flex-col {
  display: flex;
  flex-direction: column;}
.cursor-pointer {
  cursor: pointer;}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;}
.absolute {
  position: absolute;}
.relative {
  position: relative;}
.fixed {
  position: fixed;}
.m-auto {
  margin: auto;}
.p-0 {
  padding: 0px;}
.m-0 {
  margin: 0px;}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;}
.py-10prc {
  padding-top: 10%;
  padding-bottom: 10%;}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;}
.my-20prc {
  margin-top: 20%;
  margin-bottom: 20%;}
.px-40prc {
  padding-left: 40%;
  padding-right: 40%;}
.mt-40 {
  margin-top: 40px;}
.h-80 {
  height: 80px !important;}
.w-100prc {
  width: 100% !important;}
.text-center {
  text-align: center;}
.fw-300 {
  font-weight: 300;}
.fw-600 {
  font-weight: 600;}
.fw-900 {
  font-weight: 900;}
.user-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;}
.white-space-normal {
  white-space: normal;}
.fs-14 {
  font-size: 14px;}
.fs-42 {
  font-size: 42px;}
.fs-100 {
  font-size: 100px;}
.fs-120 {
  font-size: 120px;}
.z-300 {
  z-index: 300;}
.z-400 {
  z-index: 400;}
.z-600 {
  z-index: 600;}
.hidden {
  visibility: hidden;}
.bg-\[\#000\] {
	background-color: #000;
}
.bg-\[\#333\] {
	background-color: #333;
}
.color-\[\#fff\] {
	color: #fff;
}
.color-\[\#000\] {
	color: #000;
}
.bg-\[\#fff\] {
	background-color: #fff;
}
.brd-color-\[\#a414a4\] {
	border-color: #a414a4;
}
.hover\:color-\[\#ffffff\]:hover {
	color: #ffffff;
}
.bg-\[\#c4c4c4\] {
	background-color: #c4c4c4;
}
.color-\[\#f4f4f4\] {
	color: #f4f4f4;
}
.bg-\[\#062698\] {
	background-color: #062698;
}
.color-\[\#f3f3f3\] {
	color: #f3f3f3;
}
.color-\[\#010101\] {
	color: #010101;
}
.color-\[\#fffff2\] {
	color: #fffff2;
}
.color-\[\#000000\] {
	color: #000000;
}
.color-\[\#fffff3\] {
	color: #fffff3;
}
.bg-\[\#fcfcfd\] {
	background-color: #fcfcfd;
}
.bg-\[\#332\] {
	background-color: #332;
}
.color-\[\#98dc88\] {
	color: #98dc88;
}
.hover\:color-\[\#98dc81\]:hover {
	color: #98dc81;
}
.color-\[\#111111\] {
	color: #111111;
}
.color-\[\#313131\] {
	color: #313131;
}
.fill-\[\#f4f4f4\] {
	fill: #f4f4f4;
}
.hover\:cursor-pointer:hover{
 cursor: pointer; 
}
.hover\:fw-400:hover{
 font-weight: 400; 
}
.hover\:brd-radius-6:hover{
 border-radius: 6px; 
}
.hover\:py-14:hover{
 padding-top: 14px;
  padding-bottom: 14px; 
}
light.light, body.light {
[style-light="color-[#000] bg-[#fff]"] {
color: #000;
background-color: #fff;
}
[style-light="color-[#000] fs-14 z-300"] {
color: #000;
font-size: 14px;
z-index: 300;
}
[style-light="color-[#000] fs-19 fw-400"] {
color: #000;
font-size: 19px;
font-weight: 400;
}
[style-light="color-[#000] relative bg-[#062698]"] {
color: #000;
position: relative;
background-color: #062698;
}
[style-light="color-[#010101]"] {
color: #010101;
}
[style-light="color-[#313131] bg-[#fff]"] {
color: #313131;
background-color: #fff;
}
}
dark.light, body.dark {
[style-dark="bg-[#333] color-[#fff]"] {
background-color: #333;
color: #fff;
}
[style-dark="color-[#fff]"] {
color: #fff;
}
[style-dark="color-[#fff] hover:color-[#f4f4f4]"] {
color: #fff;
}
[style-dark="color-[#f3f3f3]"] {
color: #f3f3f3;
}
[style-dark="color-[#111111]"] {
color: #111111;
}
}
@media screen and (max-width: 600px){
	[style-sd="fs-24"]{

 font-size: 24px;
}[style-sd="fs-16"]{

 font-size: 16px;
}[style-sd="fs-14 py-10 fw-200"]{
font-size: 14px;
 padding-top: 10px;
  padding-bottom: 10px;
 font-weight: 200;
}[style-sd="fs-14 py-10 fs-32"]{
font-size: 14px;
 padding-top: 10px;
  padding-bottom: 10px;
 font-size: 32px;
}
}
@media screen and (min-width: 600px) and (max-width: 1200px){
	[style-md="fs-44"]{

 font-size: 44px;
}[style-md="fs-18 py-20 fw-400"]{
font-size: 18px;
 padding-top: 20px;
  padding-bottom: 20px;
 font-weight: 400;
}
}
@media screen and (min-width: 1200px) and (max-width: 1600px){
	[style-ld="fs-88"]{

 font-size: 88px;
}
}
@media screen and (min-width: 1600px) and (max-width: 2200px){
	[style-xl="fs-88"]{

 font-size: 88px;
}
}
@media screen and (min-width: 2200px){
	[style-mxl="fs-88"]{

 font-size: 88px;
}
}
.test{
    font-size: 69px;
}

.bog{
    font-family: 'Courier New', Courier, monospace;
}

.bog-2{
    font-weight: 400;
}

.test-2{
    font-size: 44px;
}

.p-40\%{
    padding: 40%;
}

.p-50\%{
    padding: 50%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}